@charset "utf-8";
.nolsy{ list-style:none;}

.br_lf{ border-left:1px solid #e5e5e5;}
.br_rg{ border-right:1px solid #e5e5e5;}
.br_bt{ border-bottom:1px solid #e5e5e5;}
.br_tp{border-top: 1px solid #e5e5e5;}

.br_1{border:1px solid #cacaca;}
.br_lf_1{ border-left:1px solid #cacaca;}
.br_rg_1{ border-right:1px solid #cacaca;}
.br_bt_1{ border-bottom:1px solid #cacaca;}
.br_tp_1{border-top: 1px solid #cacaca;}

.br_lf_b{border-left:2px solid #0251b4;}
.br_rg_b{ border-right:2px solid #0251b4;}
.br_bt_b{ border-bottom:2px solid #0251b4;}
.br_tp_b{border-top: 2px solid #0251b4;}

.br_lf_w{border-left:2px solid #fff;}
.br_rg_w{ border-right:2px solid #fff;}
.br_bt_w{ border-bottom:2px solid #fff;}
.br_tp_w{border-top: 2px solid #fff;}

.br_del{text-decoration:line-through;}

.no_br{border:0;}
.no_bold{font-weight:normal;}
.no_fl{float:none;}

.bg_orange{ background: #ffa200;}
.bg_green{background:#00b065;}
.bg_grey{background:#f2f1f2;}
.bg_grey_1{background:#323232;}
.bg_blue{background:rgba(2,81,180,0.5); filter:alpha(opacity=50); }
.bg_blue_1{background:#0e90d2;}
.bg_blue_2{background:#0087f2;}
.bg_blue_3{background:#0251b4;}
.bg_black{background:#333;}

.font_black{color:#333;}
.font_orange{color:#ffa200;}
.font_green{color:#00b065;}
.font_grey{color:#959595;}
.font_grey_1{color:#82868a;}
.font_white{color:#fff;}
.font_red{color:#fe2a00;}
.font_blue{color:#0251b4;}
.font_blue_1{color:#014e97;}

.font_bold{font-weight: bold;}
.font_normal{ font-weight: normal;}

.list_a a:hover{color:#fe2a00;}

/*分页*/
#dede_pages{width:100%;}
#dede_pages_1{width:100%;margin-top:3em;}
#dede_pages_2{width:100%;}
#dede_pages ul,#dede_pages_1 ul,#dede_pages_2 ul{
	float:right;
}
#dede_pages ul li,#dede_pages_1 ul li,#dede_pages_2 ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #ccc;
}
#dede_pages ul li a,#dede_pages_1 ul li a,#dede_pages_2 ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
#dede_pages ul li a:hover,#dede_pages_1 ul li a:hover,#dede_pages_2 ul li a:hover{
	color:#0267b7;
	text-decoration:none;
	padding:2px 4px 2px;
}
/*QQ*/
.clear{clear:both;}

.float0831 {
	POSITION: fixed; TOP: 180px; left: 1px; _position: absolute;z-index:999;>
}
.float0831 A {
	COLOR: #00a0e9
}
.float0831 A:hover {
	COLOR: #ff8100; TEXT-DECORATION: none
}
.float0831 .floatL {
	POSITION: relative; WIDTH: 28px; FLOAT: left;
}
.float0831 .floatL A {
	TEXT-INDENT: -9999px; DISPLAY: block; FONT-SIZE: 0px
}
.float0831 .floatR {
	BACKGROUND: url(../images/float_bg.gif)
}
.float0831 .tp {
	BACKGROUND: url(../images/float_bg.gif)
}
.float0831 .cn {
	BACKGROUND: url(../images/float_bg.gif)
}
.float0831 .floatR {
	PADDING-BOTTOM: 15px; WIDTH: 130px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -131px bottom; FLOAT: left; OVERFLOW: hidden
}
.float0831 .tp {
	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0% 0%; HEIGHT: 10px
}
.float0831 .cn {
	BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: -262px 0px
}
.float0831 .cn H3 {
	TEXT-INDENT: -9999px; HEIGHT: 36px; FONT-SIZE: 0px
}
.float0831 .cn UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 14px; PADDING-RIGHT: 14px; PADDING-TOP: 0px
}
.float0831 .cn UL LI {
	BORDER-BOTTOM: #e6e5e4 1px solid; LINE-HEIGHT: 36px; WORD-WRAP: break-word; HEIGHT: 36px; OVERFLOW: hidden; WORD-BREAK: normal
}
.float0831 .titZx {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .titDh {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .titDc {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .icoZx {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .icoTc {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .icoFf {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .icoTl {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .btnOpen {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .btnOpen_n {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .btnCtn {
	BACKGROUND: url(../images/float_s.gif) no-repeat
}
.float0831 .titZx {
	BACKGROUND-POSITION: 5px -10px
}
.float0831 .titDh {
	BACKGROUND-POSITION: 5px -66px
}
.float0831 .titDc {
	BACKGROUND-POSITION: 5px -124px
}
.float0831 .icoZx {
	BACKGROUND-POSITION: 2px -154px; DISPLAY: block; FONT-FAMILY: "微软雅黑"; FLOAT: left; font-weight:bolder;font-size:14px;color:#c40202;
}
.float0831 .icoTc {
	BACKGROUND-POSITION: 0px -323px
}
.float0831 .icoFf {
	BACKGROUND-POSITION: 2px -213px
}
.float0831 .icoTl {
	PADDING-LEFT: 20px; DISPLAY: block; FONT-FAMILY: "微软雅黑"; BACKGROUND-POSITION: 2px -266px; FLOAT: left
}
.float0831 .icoT2 {
	PADDING-LEFT: 8px; DISPLAY: block; FONT-FAMILY: "微软雅黑"; FLOAT: left; font-weight:bolder;font-size:14px;color:#c40202;
}
.float0831 .btnOpen {
	BACKGROUND-POSITION: -30px -396px
}
.float0831 .btnOpen_n {
	BACKGROUND-POSITION: 0px -530px
}
.float0831 .btnCtn {
	BACKGROUND-POSITION: 0px -396px
}
.float0831 .icoZx {
	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .icoTc {
	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .icoFf {
	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left
}
.float0831 .btnOpen {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; right: 2px
}
.float0831 .btnOpen_n {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; right: 2px
}
.float0831 .btnCtn {
	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; right: 2px
}
.float0831 .btnOpen {
	TOP: 118px; right: 1px
}
.float0831 .btnOpen_n {
	TOP: 118px; right: 1px
}
.float0831 .btnCtn {
	TOP: 118px; right: 2px
}
.float0831 UL LI H3.titDc A {
	WIDTH: 80px; DISPLAY: block; HEIGHT: 36px
}
.float0831 UL LI.top2 {
	BORDER-BOTTOM: #ace5f9 1px solid
}
.float0831 UL LI.bot {
	BORDER-BOTTOM-STYLE: none
}
.float0831 UL.webZx {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 164px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/webZx_bg.jpg) no-repeat; HEIGHT: 65px; PADDING-TOP: 0px
}
.float0831 UL LI.webZx-in {
	BORDER-BOTTOM-STYLE: none; PADDING-LEFT: 5px; HEIGHT: 50px; PADDING-TOP: 8px
}
