@charset "utf-8";
.nolsy {
    list-style: none;
}

.br_lf {
    border-left: 1px solid #e5e5e5;
}

.br_rg {
    border-right: 1px solid #e5e5e5;
}

.br_bt {
    border-bottom: 1px solid #e5e5e5;
}

.br_tp {
    border-top: 1px solid #e5e5e5;
}

.br_1 {
    border: 1px solid #cacaca;
}

.br_lf_1 {
    border-left: 1px solid #cacaca;
}

.br_rg_1 {
    border-right: 1px solid #cacaca;
}

.br_bt_1 {
    border-bottom: 1px solid #cacaca;
}

.br_tp_1 {
    border-top: 1px solid #cacaca;
}

.br_lf_b {
    border-left: 2px solid #0251b4;
}

.br_rg_b {
    border-right: 2px solid #0251b4;
}

.br_bt_b {
    border-bottom: 2px solid #0251b4;
}

.br_tp_b {
    border-top: 2px solid #0251b4;
}

.br_lf_w {
    border-left: 2px solid #fff;
}

.br_rg_w {
    border-right: 2px solid #fff;
}

.br_bt_w {
    border-bottom: 2px solid #fff;
}

.br_tp_w {
    border-top: 2px solid #fff;
}

.br_del {
    text-decoration: line-through;
}

.no_br {
    border: 0;
}

.no_bold {
    font-weight: normal;
}

.no_fl {
    float: none;
}

.bg_orange {
    background: #ffa200;
}

.bg_green {
    background: #00b065;
}

.bg_grey {
    background: #f2f1f2;
}

.bg_grey_1 {
    background: #323232;
}

.bg_blue {
    background: rgba(2, 81, 180, 0.5);
    filter: alpha(opacity=50);
}

.bg_blue_1 {
    background: #0e90d2;
}

.bg_blue_2 {
    background: #0087f2;
}

.bg_blue_3 {
    background: #0251b4;
}

.bg_black {
    background: #333;
}

.font_black {
    color: #333;
}

.font_orange {
    color: #ffa200;
}

.font_green {
    color: #00b065;
}

.font_grey {
    color: #959595;
}

.font_grey_1 {
    color: #82868a;
}

.font_white {
    color: #fff;
}

.font_red {
    color: #fe2a00;
}

.font_blue {
    color: #0251b4;
}

.font_blue_1 {
    color: #014e97;
}

.font_bold {
    font-weight: bold;
}

.font_normal {
    font-weight: normal;
}

.list_a a:hover {
    color: #fe2a00;
}

/*分页*/
#dede_pages {
    width: 100%;
}

#dede_pages_1 {
    width: 100%;
    margin-top: 3em;
}

#dede_pages_2 {
    width: 100%;
}

#dede_pages ul, #dede_pages_1 ul, #dede_pages_2 ul {
    float: right;
}

#dede_pages ul li, #dede_pages_1 ul li, #dede_pages_2 ul li {
    float: left;
    font-family: Tahoma;
    line-height: 17px;
    margin-right: 6px;
    border: 1px solid #ccc;
}

#dede_pages ul li a, #dede_pages_1 ul li a, #dede_pages_2 ul li a {
    float: left;
    padding: 2px 4px 2px;
    color: #555;
    display: block;
}

#dede_pages ul li a:hover, #dede_pages_1 ul li a:hover, #dede_pages_2 ul li a:hover {
    color: #0267b7;
    text-decoration: none;
    padding: 2px 4px 2px;
}

.am-accordion-content_diy {
    margin-top: 0;
    padding: 0.8rem 0 1.2rem;
    font-size: 1.4rem;
}

.am-padding-vertical-xs_diy {

}

.am-padding-vertical-xs_diy:hover,
.am-list-item-dated:hover{
    background-color: #f5f5f5;
}

.am-padding-vertical-xs_diy a {
    padding: 0.5rem 1rem;
    display: block;
    width: 100%;
}

/*分页*/
.pagination {
    padding: 20px 0;
    display: table;
    margin: 0 auto;
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
    display: inline;
    line-height: 20px;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #fff;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #dfdfdf;
    cursor: default;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #428bca;
}

.pagination ul > li > a, .pagination ul > li > span {
    margin-right: 6px;
    color: #222;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #dfdfdf;
    border: 1px solid transparent;
    border-left-width: 0;
}

.am-titlebar {
    background-color: #fcfcfc;
}

.article-infobox {
    display: table;
    margin: 0 auto;
}

.am-article-bd {
    padding-bottom: 2rem;
}

.prevArticleLink{
    margin-bottom: 5px;
}
.nextArticleLink{
    margin-bottom: 15px;
}

