@charset "utf-8";

.am-accordion-content_diy {
    margin-top: 0;
    padding: 0.8rem 0 1.2rem;
    font-size: 1.4rem;
}

.am-padding-vertical-xs_diy {

}

.am-padding-vertical-xs_diy:hover,
.am-list-item-dated:hover {
    background-color: #f5f5f5;
}

.am-padding-vertical-xs_diy a {
    padding: 0.5rem 1rem;
    display: block;
    width: 100%;
}

/*分页*/
.pagination {
    padding: 20px 0;
    display: table;
    margin: 0 auto;
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
    display: inline;
    line-height: 20px;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #fff;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #dfdfdf;
    cursor: default;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #428bca;
}

.pagination ul > li > a, .pagination ul > li > span {
    margin-right: 6px;
    color: #222;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #dfdfdf;
    border: 1px solid transparent;
    border-left-width: 0;
}
/* 内容列表 */
.am-titlebar {
    background-color: #f5f5f5;
}

.article-infobox {
    display: table;
    margin: 0 auto;
}

.am-article-bd {
    padding-bottom: 2rem;
}

/* 上下篇链接 */
.prevArticleLink {
    margin-bottom: 5px;
}

.nextArticleLink {
    margin-bottom: 15px;
}

/* 图片画廊 */
.am-gallery-bordered .am-gallery-title {
    font-size: 1.7rem;
}

.am-gallery-item {
    border: #fff 2px solid;
}
.am-gallery-item:hover {
    border: #A5C7FE 2px solid;
}
.am-gallery-item a:hover{
    text-decoration: none;
}




